@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../assets/scss/variables';
@import '../assets/scss/common';
@import '../assets/scss/buttons';

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  @apply text-reverse-primary;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.project-request-type,
.project-stage {
  &-0 {
    @apply bg-blue-500 text-white;
  }

  &-1 {
    @apply bg-orange-500 text-white;
  }

  &-2 {
    @apply bg-gray-300 text-gray-600;
  }

  &-3 {
    @apply bg-green-500 text-white;
  }

  &-4 {
    @apply bg-red-500 text-white;
  }

  &-5 {
    @apply bg-yellow-500 text-white;
  }
}

.ticket-priority {
  &-0 {
    @apply text-red-500;
  }

  &-1 {
    @apply text-orange-500;
  }

  &-2 {
    @apply text-green-500;
  }
}

.file-icon {
  &-pdf {
    @apply text-red-500;
  }

  &-doc {
    @apply text-blue-500;
  }

  &-excel {
    @apply text-green-500;
  }

  &-txt {
    @apply text-gray-500;
  }

  &-csv {
    @apply text-green-700;
  }

  &-unknown {
    @apply text-gray-500;
  }
}
